<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性和侦听器</title>
    <script src="../../resource/vue.js"></script>
</head>
<body>
<div id="root">
    <div>{{message}}</div>
    <div>{{tt}}</div>
    姓：<label><input v-model="firstName"/></label>
    名：<label><input v-model="lastName"/></label>
    <div>{{firstName}}{{lastName}}</div>
    <div><p>fullName:{{fullName}}</p></div>
    <div><p>count:{{count}}</p></div>
</div>
<script>
    new Vue({
        el: "#root",
        data: {
            message: '计算属性和侦听器',
            firstName: '',
            lastName: '',
            count: 0
        },
        /*计算属性*/
        computed: {
            fullName: function () {
                return this.firstName + "" + this.lastName;
            },
            tt: function () {
                return this.message.split('').reverse().join('')
            }
        },
        /*侦听器*/
        watch: {
            fullName: function () {
                this.count++
            }
        }
    })
</script>
</body>
</html>