<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>c-2</title>
    <script src="../../resource/vue.js"></script>
</head>

<div id="app">
  <cpn :easy="message" :diff="info"></cpn>  <!--子组件在父组件使用-->
</div>

<template id="cpn">
  <div>
    <h1>CPN</h1>
    <ul>
      <li v-for="(item,index) in easy">{{(index+1) +':'+item}}</li>
    </ul>
   {{diff}}
  </div>
</template>

<body>
<script>

  const  cpn = {
    template:`#cpn`,
    props: {
      easy:{
        type:Array,
        default(){
          return []
        }
      },
      diff: {
        type:String,
        default:'olleh'
      }
    }
  }

  new Vue({
    el:"#app",
    data:{
      message:['a','b','c'],
      info:'hello!'
    },
    components: {
     cpn
    }
  })

</script>
</body>
</html>