<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script src="../../resource/vue.js"></script>
</head>

<div id="app">
  <cpn :easy="message" ></cpn>  <!--子组件在父组件使用-->
</div>

<template id="cpn">
  <div>
    <h1>CPN</h1>
    <ul>
      <li v-for="(item,index) in easy">{{(index+1) +':'+item}}</li>
    </ul>
    {{diff}}
  </div>
</template>

<body>
<script>

  const  cpn = {
    template:`#cpn`,
    props: {
      easy:{
        type:Array,
        default(){

        }
      }
    }
  }

  new Vue({
    el:"#app",
    data:{
      message:['a','b','c'],
      info:'hello!'
    },
    components: {
      cpn
    }
  })

</script>
</body>
</html>