<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>model-todo</title>
    <script src="../../resource/vue.js"></script>
</head>
<body>
<div id="root">
    <input v-model="inputValue">
    <button @click="c">add</button>
    <ul>
        <todo v-for="(item,index) of list"
              :key="index"
              :content="item">

        </todo>
    </ul>

</div>
<script>
    /**/
    Vue.component("todo", {
        props: ['content'],
        template: '<li>{{content}}</li>'
    });
    new Vue({
        el: '#root',
        data: {
            title: 'tt',
            inputValue: '',
            list: []
        },
        methods: {
            c: function () {
                this.list.push(this.inputValue);
                this.inputValue = ''
            }
        }
    })
</script>

</body>
</html>