<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <script src="../../resource/vue.js"></script>
</head>
<body>
<div id="root">
    {{m}}
    <br>
    <label>
        <input v-model="inputValue">
    </label>
    <button @click="add">add</button>
    <ul>
        <li v-for="(item,index) of list" :key="index">
            {{item}}
        </li>
    </ul>
</div>
<script>
    new Vue({
        el: '#root',
        data: {
            m: 'todoList',
            title: 'tt',
            inputValue: '',
            list: []
        },
        methods: {
            add: function () {
                this.list.push(this.inputValue);
                this.inputValue = ''
            }
        }
    })
</script>

</body>
</html>
